body,h1, h2, h3, h4, h5, h6 {
    font-family:  Microsoft YaHei,'Times New Roman', '宋体', Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
}
body{
    overflow:auto;
}
button{
    font-family: 'SimSun','Times New Roman', '宋体', Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
}
ul.nav li.light-blue:hover ul.dropdown-menu{
    display: block;
}
/* skin 3 */
.skin-4 {
    background-color: #bbbbbb;
}

@media (min-width: 768px) {
    .skin-4 .main-container.container:before {
        -webkit-box-shadow: 0 0 0 1px rgba(50, 100, 200, 0.1);
        box-shadow: 0 0 0 1px rgba(50, 100, 200, 0.1);
    }
}

.skin-4 .navbar {
    background: #2e6ba1;
}

.skin-4 .sidebar {
    background-color: #e8e8e8;
    border-style: solid;
    border-width: 0 1px 0 0;
    border-color: #a4c6dd;
}

.skin-4 .nav-list > li {
    border-color: #e8e8e8 !important;
}

.skin-4 .nav-list > li > a {
    background-color: #f7f7f7;
    color: #404040;
    font-size: 14px;
}

.skin-4 .nav-list > li > a > .arrow {
    color: inherit;
}

.skin-4 .nav-list > li > a:focus {
    background-color: #e8e8e8;
    color: #404040;
}

.skin-4 .nav-list > li:hover {
    border-color: #95bad2 !important;
}

.skin-4 .nav-list > li:hover + li {
    border-top-color: #95bad2 !important;
}

.skin-4 .nav-list > li.open {
    border-color: #95bad2 !important;
}

.skin-4 .nav-list > li.open + li {
    border-top-color: #95bad2 !important;
}

.skin-4 .nav-list > li.active {
    border-color: #a4c6dd !important;
}

.skin-4 .nav-list > li.active + li {
    border-color: #a4c6dd !important;
}

.skin-4 .nav-list > li.active + li:last-child {
    border-bottom-color: #f2f2f2 !important;
}

.skin-4 .nav-list > li.active + li:last-child:hover {
    border-bottom-color: #95bad2 !important;
}

.skin-4 .nav-list > li:hover > a {
    background-color: #ffffff;
    color: #337dbb;
}

.skin-4 .nav-list > li.open > a,
.skin-4 .nav-list > li.open:hover > a {
    color: #337dbb;
    background-color: #f8f8f8;
}

.skin-4 .nav-list > li.open > a > .arrow {
    color: inherit;
}

.skin-4 .nav-list > li.active > a,
.skin-4 .nav-list > li.active.highlight > a {
    background-color: #f3faff !important;
    color: #4d96cb !important;
}

.skin-4 .nav-list > li:hover:before,
.skin-4 .nav-list > li.open:before {
    display: block;
    background-color: #4f8ab4 !important;
}

.skin-4 .nav-list > li.active:before {
    display: block;
    background-color: #4D96CB !important;
}

.skin-4 .page-content {
    background-color: transparent;
}

.skin-4 .infobox-container .infobox:not(.infobox-dark) {
    border-style: solid;
    background-color: transparent;
}

.skin-4 .nav-list > li.active:after {
    display: none;
}

.skin-4 .nav-list li.active > a:after {
    right: -1px;
    top: 3px;
    border-width: 16px 10px;
    border-right-color: #FFF;
    -moz-border-right-colors: #FFF;
}

.skin-4 .nav-list li.active > a:before {
    display: block;
    content: "";
    position: absolute;
    top: 3px;
    right: 0;
    background-color: transparent;
    border-style: solid;
    border-color: transparent;
    border-right-color: #91bad6;
    -moz-border-right-colors: #91bad6;
    border-width: 16px 10px;
}

.skin-4 .nav-list > li.active > .submenu li.active > a:before,
.skin-4 .nav-list > li.active > .submenu li.active > a:after {
    top: 1px;
}

.skin-4 .nav-list li.active.open > a:before {
    display: none;
}

.skin-4 .nav-list li.active:not(.open) li.active > a:before {
    display: none !important;
}

.skin-4 .nav-list > li.highlight.active > a:after {
    border-left-color: #f3faff;
    -moz-border-left-colors: #f3faff;
}

.skin-4 .nav-list > li.highlight.active > a:before {
    border-left-color: #91bad6;
    -moz-border-left-colors: #91bad6;
}

.skin-4 .nav-list li > .arrow:before {
    border-right-color: #7fafcf;
    -moz-border-right-colors: #7fafcf;
}

.skin-4 .nav-list > li .submenu > li.active:not(.open) > a {
    background-color: #f5f7fa;
}

.skin-4 .nav-list > li .submenu > li.active:not(.open) > a:hover {
    background-color: #f1f5f9;
}

@media only screen and (max-width: 991px) {
    .skin-4 .sidebar.responsive .nav-list > li.active.open > a:after {
        display: none;
    }
}

@media only screen and (min-width: 992px) {
    .skin-4 .nav-list li.hover > .submenu {
        border-color: #99bfd9;
    }
}

@media only screen and (min-width: 992px) {
    .skin-4 .nav-list li.hover.active > a:before {
        display: block;
    }

    .skin-4 .nav-list li.hover .submenu > li.active > a:before {
        display: none;
    }
}

.skin-4 .sidebar.menu-min .nav-list > li > a > .menu-text {
    background-color: #f1f5f9;
    border-color: #A4C6DD;
}

.skin-4 .sidebar.menu-min .nav-list > li.active > a > .menu-text {
    background-color: #EDF3F7;
}

.skin-4 .sidebar.menu-min .nav-list > li > .submenu {
    border-color: #A4C6DD;
    border-top-color: #C9DAE5;
}

.skin-4 .sidebar.menu-min .nav-list > li.active > .arrow:before {
    border-right-color: #709FBF;
    -moz-border-right-colors: #709FBF;
}

.skin-4 .sidebar.menu-min .nav-list > li > .arrow:after {
    border-right-color: #EDF3F7;
    -moz-border-right-colors: #EDF3F7;
}

.skin-4 .sidebar.menu-min .nav-list li.active > a:after,
.skin-4 .sidebar.menu-min .nav-list li.active > a:before {
    display: none;
}

.skin-4 .sidebar.menu-min .nav-list > li.active > a:after,
.skin-4 .sidebar.menu-min .nav-list > li.active > a:before {
    display: block;
    border-width: 9px 7px;
    top: 10px;
}

@media only screen and (max-width: 991px) {
    .skin-4 .sidebar.menu-min.responsive .nav-list > li.active > a:after,
    .skin-4 .sidebar.menu-min.responsive .nav-list > li.active > a:before {
        display: none;
    }
}

.skin-4 .sidebar.menu-min .nav-list > li.active.highlight > a:after,
.skin-4 .sidebar.menu-min .nav-list > li.active.highlight > a:before {
    border-width: 20px 0 21px 10px;
    top: -1px;
}

.skin-4 .sidebar.menu-min .nav-list > li.active:hover > a:after,
.skin-4 .sidebar.menu-min .nav-list > li.active:hover > a:before {
    display: none;
}

.skin-4 .sidebar.menu-min .sidebar-shortcuts-large {
    background-color: #F5F5F5;
}

@media only screen and (max-width: 991px) {
    .skin-4 .sidebar.responsive {
        border-bottom-width: 1px !important;
    }

    .skin-4 .sidebar.navbar-collapse {
        border-bottom-color: #A4C6DD;
    }

    .skin-4 .nav-list li.active > a:after,
    .skin-4 .nav-list li.active > a:before {
        display: none;
    }

    .skin-4 .sidebar.responsive-min .nav-list > li > a > .menu-text {
        background-color: #f1f5f9;
        border-color: #A4C6DD;
    }

    .skin-4 .sidebar.responsive-min .nav-list > li.active > a > .menu-text {
        background-color: #EDF3F7;
    }

    .skin-4 .sidebar.responsive-min .nav-list > li > .submenu {
        border-color: #A4C6DD;
        border-top-color: #C9DAE5;
    }

    .skin-4 .sidebar.responsive-min .nav-list > li.active > .arrow:before {
        border-right-color: #709FBF;
        -moz-border-right-colors: #709FBF;
    }

    .skin-4 .sidebar.responsive-min .nav-list > li > .arrow:after {
        border-right-color: #EDF3F7;
        -moz-border-right-colors: #EDF3F7;
    }

    .skin-4 .sidebar.responsive-min .nav-list li.active > a:after,
    .skin-4 .sidebar.responsive-min .nav-list li.active > a:before {
        display: none;
    }

    .skin-4 .sidebar.responsive-min .nav-list > li.active > a:after,
    .skin-4 .sidebar.responsive-min .nav-list > li.active > a:before {
        display: block;
        border-width: 9px 7px;
        top: 10px;
    }

    .skin-4 .sidebar.responsive-min .nav-list > li.active.highlight > a:after,
    .skin-4 .sidebar.responsive-min .nav-list > li.active.highlight > a:before {
        border-width: 20px 0 21px 10px;
        top: -1px;
    }

    .skin-4 .sidebar.responsive-min .nav-list > li.active:hover > a:after,
    .skin-4 .sidebar.responsive-min .nav-list > li.active:hover > a:before {
        display: none;
    }

    .skin-4 .sidebar.responsive-min .sidebar-shortcuts-large {
        background-color: #F5F5F5;
    }

    .skin-4 .sidebar.responsive-max {
        border-width: 0 1px 1px 0;
    }

    .skin-4 .sidebar.responsive-max .nav-list li.hover.active > a:before {
        display: none;
    }

    .skin-4 .sidebar.navbar-collapse .sidebar-shortcuts-large {
        background-color: transparent;
    }
}

@media only screen and (max-width: 991px) {
    .skin-4 .sidebar.responsive-min.responsive .nav-list > li.active > a:after,
    .skin-4 .sidebar.responsive-min.responsive .nav-list > li.active > a:before {
        display: none;
    }
}

.skin-4 .sidebar-shortcuts,
.skin-4 .sidebar-shortcuts-mini {
    background-color: #dbdbdb;
}

.skin-4 .sidebar-shortcuts-large > .btn:focus {
    outline: none;
}

.skin-4 .sidebar > .nav-search {
    background-color: #dbdbdb;
}

.skin-4 .sidebar-toggle {
    background-color: #dbdbdb;
    border-color: #f2f2f2;
}

.skin-4 .sidebar-toggle:before {
    border-color: #ffffff;
}

.skin-4 .sidebar-toggle > .ace-icon {
    background-color: #ffffff;
    border-color: #999;
    color: #999;
}

@media only screen and (max-width: 991px) {
    .skin-4 .sidebar.navbar-collapse .nav-list > li:before {
        height: 43px !important;
    }

    .skin-4 .sidebar.navbar-collapse .sidebar-shortcuts {
        padding: 0 0 3px !important;
    }
}

@media only screen and (min-width: 992px) {
    .skin-4 .nav-list > li.active.hover:hover > a.dropdown-toggle:after,
    .skin-4 .nav-list > li.active.hover:hover > a.dropdown-toggle:before {
        display: none;
    }
}

.skin-4 .main-container .menu-toggler {
    background-color: #62A8D1;
    color: #FFF;
}

.skin-4 .main-container .menu-toggler:before,
.skin-4 .main-container .menu-toggler:after {
    border-color: #FFF;
}

.skin-4 .main-container .menu-toggler > .toggler-text {
    border-top-color: #62A8D1;
    -moz-border-top-colors: #62A8D1;
}

.skin-4 .main-container .menu-toggler > .toggler-text:after {
    color: #FFF;
}

.skin-4 .navbar .navbar-toggle {
    border-color: rgba(255, 255, 255, 0.15);
    transition: background-color 0.1s ease 0s;
    background-color: #648CAE;
}

.skin-4 .navbar .navbar-toggle:focus {
    background-color: #648CAE;
    border-color: rgba(255, 255, 255, 0.15);
}

.skin-4 .navbar .navbar-toggle:hover {
    background-color: #5782a7;
    border-color: rgba(255, 255, 255, 0.15);
}

.skin-4 .navbar .navbar-toggle.display,
.skin-4 .navbar .navbar-toggle[data-toggle=collapse]:not(.collapsed) {
    background-color: #507899;
    border-color: rgba(255, 255, 255, 0.3);
}

.skin-4 .breadcrumbs {
    border-width: 0;
    background-color: #e7f2f8;
    border-radius: 4px;
    margin: 8px 8px 0;
}

.skin-4 .navbar:not(.navbar-fixed-top):not(.h-navbar) + .main-container .breadcrumbs {
    margin-top: auto;
    top: 8px;
    margin-bottom: 8px;
}

@media only screen and (max-width: 991px) {
    .skin-4 .breadcrumbs {
        margin: 5px 5px 0;
    }

    .skin-4 .navbar:not(.navbar-fixed-top):not(.h-navbar) + .main-container .breadcrumbs,
    .skin-4 .navbar:not(.navbar-fixed-top) + .main-container .breadcrumbs {
        margin-top: auto;
        top: 5px;
        margin-bottom: 5px;
    }

    .skin-4 .menu-toggler + .sidebar.responsive + .main-content .breadcrumbs {
        margin: 0;
        top: auto;
        border-radius: 0;
    }
}

@media (min-width: 992px) {
    .skin-4 .breadcrumbs.breadcrumbs-fixed + .page-content {
        padding-top: 57px;
    }
}

@media (min-width: 992px) and (max-width: 991px) {
    .skin-4 .breadcrumbs.breadcrumbs-fixed + .page-content {
        padding-top: 54px;
    }

    .skin-4 .menu-toggler + .sidebar.reponsive + .main-content .breadcrumbs.breadcrumbs-fixed + .page-content {
        padding-top: 49px;
    }
}

@media (min-width: 992px) and (max-width: 991px) {
    .skin-4 .container.main-container .sidebar.compact + .main-content .breadcrumbs-fixed {
        width: 734px;
    }
}

@media (min-width: 992px) and (max-width: 991px) {
    .skin-4 .container.main-container .breadcrumbs-fixed {
        width: 734px;
    }

    .skin-4 .container.main-container .sidebar.menu-min + .main-content .breadcrumbs-fixed {
        width: 734px;
    }

    .skin-4 .container.main-container .sidebar.responsive-min + .main-content .breadcrumbs-fixed {
        width: 691px;
    }
}

@media (min-width: 992px) {
    .skin-4 .container.main-container .sidebar.compact + .main-content .breadcrumbs-fixed {
        width: 843px;
    }
}

@media (min-width: 992px) {
    .skin-4 .container.main-container .breadcrumbs-fixed {
        width: 964px;
    }

    .skin-4 .container.main-container .sidebar + .main-content .breadcrumbs-fixed {
        width: 758px;
    }

    .skin-4 .container.main-container .sidebar.menu-min + .main-content .breadcrumbs-fixed {
        width: 905px;
    }
}

@media (min-width: 1200px) {
    .skin-4 .container.main-container .sidebar.compact + .main-content .breadcrumbs-fixed {
        width: 1043px;
    }
}

@media (min-width: 1200px) {
    .skin-4 .container.main-container .breadcrumbs-fixed {
        width: 1148px;
    }

    .skin-4 .container.main-container .sidebar + .main-content .breadcrumbs-fixed {
        width: 958px;
    }

    .skin-4 .container.main-container .sidebar.menu-min + .main-content .breadcrumbs-fixed {
        width: 1105px;
    }
}

@media only screen and (max-width: 991px) {
    .skin-4 .nav-list li.active > a:before,
    .skin-4 .nav-list li.active > a:after {
        display: none;
    }
}

.skin-4 .sidebar-shortcuts-large > .btn {
    line-height: 26px;
    border-width: 1px;
}

.skin-4 .sidebar-shortcuts-mini {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 1px;
}

.skin-4 .sidebar-shortcuts-mini > .btn {
    border-width: 1px !important;
    opacity: 1;
    padding: 7px !important;
    margin: 1px 1px 0 0;
}

@media only screen and (min-width: 992px) {
    .skin-4 .sidebar.h-sidebar {
        background-color: #e3e3e3;
    }

    .skin-4 .sidebar.h-sidebar:before {
        background-color: #CBD0D6;
        border-bottom-width: 0;
    }

    .skin-4 .sidebar.h-sidebar .sidebar-shortcuts-mini > .btn {
        padding: 8px !important;
    }

    .skin-4 .sidebar.h-sidebar .sidebar-shortcuts-large {
        background-color: #FFF;
        line-height: 36px;
    }

    .skin-4 .sidebar.h-sidebar + .main-content .breadcrumbs {
        border-color: #d5e7f1;
        top: 2px;
    }

    .skin-4 .sidebar.h-sidebar .nav-list > li.hover > .submenu {
        border-color: #A4C6DD;
    }

    .skin-4 .sidebar.h-sidebar .nav-list > li {
        border-color: #f2f2f2;
    }

    .skin-4 .sidebar.h-sidebar .nav-list > li:hover {
        border-color: #95bad2;
    }

    .skin-4 .sidebar.h-sidebar .nav-list > li.active {
        border-color: #a4c6dd;
    }

    .skin-4 .sidebar.h-sidebar .nav-list > li.active > a:after {
        left: 0;
        top: auto;
        right: auto;
        bottom: -2px;
        left: 50%;
        margin-left: -7px;
        border-color: transparent;
        -moz-border-right-colors: none;
        border-width: 8px 7px !important;
        border-bottom-color: #FFF;
        -moz-border-bottom-colors: #FFF;
    }

    .skin-4 .sidebar.h-sidebar .nav-list > li.active > a:before {
        display: block;
        left: 0;
        top: auto;
        right: auto;
        bottom: -1px;
        left: 50%;
        margin-left: -8px !important;
        border-width: 8px !important;
        border-color: transparent;
        -moz-border-right-colors: none;
        border-bottom-color: #74add7;
        -moz-border-bottom-colors: #74add7;
    }

    .skin-4 .sidebar.h-sidebar .nav-list > li.hover > .arrow:before {
        -moz-border-right-colors: none;
        border-right-color: transparent;
        border-bottom-color: #7fafcf;
        -moz-border-bottom-colors: #7fafcf;
    }
}

.skin-4 .sidebar-scroll .sidebar-shortcuts {
    border-bottom-color: 1px solid #99B6C9;
}

.skin-4 .sidebar-scroll .sidebar-toggle {
    border-top-color: #99B6C9;
}

.skin-4 .sidebar-scroll .scroll-track {
    background-color: transparent;
}

.skin-4 .sidebar-scroll .scroll-bar {
    background-color: #CCC;
    background-color: rgba(0, 0, 0, 0.2);
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .skin-4 .navbar.navbar-collapse {
        background-color: transparent;
    }

    .skin-4 .navbar.navbar-collapse:before,
    .skin-4 .navbar.navbar-collapse .navbar-container {
        background: #404040;
    }
}

.skin-4 .nav-list > li.disabled:before {
    display: none !important;
}

/*pop message*/
#msg-pop{ position:absolute; top: 60px; text-align:center;  z-index: 10000; width: 100%; font-size: 12px; }
#msg-pop-body{ border-radius: 3px 3px 3px 3px; height: 20px;line-height: 18px;padding: 3px 24px}
.msg-pop-ok{background: #02AE0E ; color: #FFFFFF;}
.msg-pop-error{background: 	#E63F00 ; color: #FFFFFF;}
.msg-pop-warn{background: 	rgb(239, 143, 0) ; color: #FFFFFF;}

.modal-header {
    padding: 5px;
    background: linear-gradient(to bottom, #fff 0px, #eee 100%) repeat-x scroll 0 0 #f7f7f7;
    border-bottom: 1px solid #ddd;
    box-sizing: content-box;
    color: #669fc7;
    min-height: 17px;
    padding-left: 12px;
    position: relative;
}

.modal-header .close {
    font-size: 17px;
    margin-top: 5px;
}

.modal-footer {
    background-color: #ffffff;
    box-shadow: none;
    padding-bottom: 14px;
    padding-top: 12px;
}
.modal-footer {
    border-top: 1px solid #e5e5e5;
    padding: 15px;
    text-align: center;
}

.dd-handle, .dd2-content {

    font-weight: 500;

}

#upload_file{
    z-index: 9999 !important;
}

.break_word{

word-wrap: break-word;
    word-break: normal;

}

